POSTGRES_USER=ravencoin
POSTGRES_PASSWORD=replace-with-a-long-random-secret
POSTGRES_DB=ravencoin_explorer
POSTGRES_DATA_DIR=/home/quai/ravencoin-explorer/postgres-data
RAVEN_RPC_USER=ravencoinrpc
RAVEN_RPC_PASSWORD=replace-with-a-different-long-random-secret
RAVEN_DATA_DIR=/home/quai/ravencoin-explorer/ravencoin-data
RAVEN_P2P_PORT=8767
EXPLORER_PORT=3102
RAVEN_IMAGE_TAG=1ecb659
EXPLORER_IMAGE_TAG=latest
INDEXER_BATCH_SIZE=500
INDEXER_FETCH_CONCURRENCY=8
INDEXER_RAW_LEAD_BLOCKS=5000
TRUST_PROXY=false
